//Layout
.header {
  overflow: hidden;
  padding: .5rem 1rem 5rem;
  width: 100%;
  height: 8rem;

  //background-color: #078f03;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;

  ul{
      display:flex;
      align-items: center;
      list-style: none;
  }

  li{
      flex: 0 0 auto;
      margin-left: .6rem;
      list-style: none;
  }

  a {
    height: 2rem;
    display: flex;
    align-items: center;
    color: #dbdbdb;
    transition: color 400ms ease-out;
    line-height: 1;
    text-decoration: none;

    &:hover {
        color: var(--header-link-hover);

        svg {
            fill: var(--header-link-hover-icon);
        }
    }

    &.router-link-exact-active {
        opacity: .5;
        cursor: default;
    }
  }
}

.header-nav-button {
    padding: 1rem;
    margin-right: -1rem; // align with viewport
    float: right;
  
    .label { display: none }

    svg {
        margin: 7px;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--media-icon);
        position: relative;
        top: 2px;
        transition: fill 400ms ease-out;
    }
    
    svg:hover {
        fill: var(--media-icon-hover);
    }
}

@media screen and (max-width: 768px) {

    .header-nav-button { transition: all 1s linear }

    .header-nav-close-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        background: none;
        border: 0;
        color: var(--media-icon);
        font-size: 1.6rem;

        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  
        &:hover { color: var(--media-icon-hover); }
    }
    .header-nav {
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        padding: 8rem 1rem 4rem;
        text-align: center;
        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        transform: translate3d(110%,0,0);
  
        ul{
            display:block;
        }
  
        li{
            margin: 0 0 4rem;
        }
  
        //links
        a {
            height: auto;
            justify-content: flex-end;
            font-size: 3rem;
            font-weight: 600;
  
            &.router-link-exact-active {
                opacity: .5;
                cursor: default;
            }
        }
    }

    body.-open-nav{

        // hide
        .wrapper { opacity: .15 !important }
        // hide open bt
        .header-nav-button { opacity: 0 }
        // show menu
        .header-nav{ transform: translate3d(0,0,0) }
  
    }
}

/*#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
}

//Layout container
.header-container {
  display: flex;
  //align-items: center;
  //justify-content: center;
  height: 3rem;
  max-width: 80rem;
  margin: auto;
}

//Navigation Menu
.header-nav-button {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  margin-right: -1rem; // align with viewport
  background: none;
  border: 0;

  .label { display: none }
}
.header-nav {
  .header-left {
      float: left;
      background-color: aquamarine;
      align-items: flex-start;
      text-align: left;
  }

  .header-center {
      overflow: hidden;
      text-align: center;
      background-color: aquamarine;
  }

  .header-right {
      align-items: flex-end;
  }

  display: flex;
  //align-items: center;

  ul{
    display: flex;
}

  li{
      flex: 0 0 auto;
      margin-left: 1rem;
      list-style: none;
  }

  //links
  a {
      height: 2rem;
      display: flex;
      align-items: center;
      color: #dbdbdb;
      transition: color 400ms ease-out;
      line-height: 1;
      text-decoration: none;     

      &:hover {
          color: var(--header-link-hover);

          svg {
              fill: var(--header-link-hover-icon);
          }
      }

      &.router-link-exact-active {
          opacity: .5;
          cursor: default;
      }

      //icons
      svg {
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          fill: var(--purple);
          position: relative;
          top: 2px;
          transition: fill 400ms ease-out;
      }
  }
}

@media screen and (max-width: 768px) {

  .header-nav-button { transition: all 1s linear }
  .header-nav-close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      background: none;
      border: 0;
      color: var(--purple);
      font-size: 2rem;

      &:hover { color: var(--light); }
  }
  .header-nav {
      align-items: flex-end;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      width: 100vw;
      height: 100vh;
      padding: 8rem 1rem 4rem;
      text-align: right;
      transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
      transform: translate3d(110%,0,0);

      ul{
          display: block;
      }

      li{
          margin: 0 0 2rem;
          list-style: none;

          &.social-link {
              display: inline-block;
              margin: 0 0 0 2rem;
          }
      }

      //links
      a {
          height: auto;
          justify-content: flex-end;
          font-size: 3rem;
          font-weight: 700;

          &:hover {
              color: var(--header-link-hover);

              svg {
                  fill: var(--header-link-hover-icon);
              }
          }

          &.router-link-exact-active {
              opacity: .5;
              cursor: default;
          }

          //icons
          svg {
              width: 3rem;
              height: 3rem;
              top: 0
          }
      }
  }

  body.-open-nav{

      // hide
      .wrapper { opacity: .1 !important }
      // hide open bt
      .header-nav-button { opacity: 0 }
      // show menu
      .header-nav{ transform: translate3d(0,0,0) }

  }

}

@media screen and (max-width: 568px) {

  .header-nav {
      a {
          font-size: 2rem;

          svg {
              width: 2rem;
              height: 2rem;
              top: 0
          }
      }
  }

}*/