.wrapper {
    margin-bottom: 30px;
}
.project-container {
    margin: 40px 10vw 0 10vw;
    display: grid;
    grid-template-columns: 240px;
}

.project-img {
    grid-column: 1;
    grid-row: 1;
    margin: 0 15px;
    width: 200px;
    height: 150px;
    background-color: #078f03;
}

.project-content {
    grid-column: 2;
    grid-row: 1;
}

.project-separator {
    margin: 2vw 0 0vw 0;
    grid-column: 1 / span 2;
}

.tag-list {
    display: flex;
    margin: 0 0 1em 0;
    
    div {
        font-size: 12px;
        border:2px groove var(--font);
        border-radius: 8px;
        padding: 4px 8px 1px 8px;
        margin: 0 5px 0 0;
        width:fit-content;
    }   
}

.projects-media-icon-container {
    width: 100%;
    margin-top: 10px;
  
    svg {
      margin: 5px;
      //display: block;
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--media-icon);
      position: relative;
      top: 2px;
      transition: fill 400ms ease-out;
    }
  
    svg:hover {
      fill: var(--media-icon-hover);
    }
  }